<div class="container my-5">
  <div
    class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="48"
      height="48"
      fill="currentColor"
      class="bi bi-check-circle text-success"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
      />
      <path
        d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"
      />
    </svg>
    <h1 class="text-body-emphasis mb-4">Package Booked</h1>
    <p class="col-lg-6 mx-auto mb-1">
      Thank you for booking with us! We are pleased to confirm your reservation.
    </p>
    <p class="col-lg-6 mx-auto mb-1">
      Booking Details is send to your email address.
    </p>
    <p class="col-lg-6 mx-auto mb-1">
      If you have any questions or need to make any changes to your reservation,
      please contact us at +414-444444000.
    </p>
    <p class="col-lg-6 mx-auto mb-4">
      We look forward to hosting you and ensuring you have a wonderful stay!
    </p>

    <button
      class="btn-lg btn-primary px-5 mb-5 btn"
      type="button"
      routerLink="search"
    >
      Do another booking
    </button>
  </div>
</div>
