@for (package of packageCombos; track package) {
<div class="border border-3 my-5 rounded-2 py-3 px-2">
  <div class="display-6 py-2">{{ package.packageName }}</div>
  <div class="card-group">
    <app-combos-card
      productName="flights"
      [prodctInfo]="package.flights"
      class="card"
    ></app-combos-card>
    <app-combos-card
      productName="hotels"
      [prodctInfo]="package.hotels"
      class="card"
    ></app-combos-card>
    <app-combos-card
      productName="cars"
      [prodctInfo]="package.cars"
      class="card"
    ></app-combos-card>
    <app-combos-card
      productName="activities"
      [prodctInfo]="package.activities"
      class="card"
    ></app-combos-card>
  </div>
  <div class="d-flex justify-content-end">
    Price : {{ package.priceCombo | currency }}
  </div>
</div>

}
